body {
  background-color: rgb(37, 2, 37);
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.img {
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 5px;
  width: 3000px;
  height: 400px;
  margin: 20px;
  text-align: center;
}
